# História das Olimpíadas  
_(créditos ao prof. Rafael Moreira)_

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_atletas = pd.read_csv("./dados/athlete_events.csv")
df_atletas.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
df_atletas_bra = df_atletas[df_atletas["NOC"] == "BRA"]
df_atletas_bra.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [4]:
df_medal_br = df_atletas_bra[df_atletas_bra["Medal"].notna()]
df_medal_br.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [5]:
df_medal_br["Season"].value_counts()

Summer    475
Name: Season, dtype: int64

In [6]:
df_atletas_bra[df_atletas_bra["Season"] == "Winter"]["Medal"].sum()

0

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [7]:
index_name = df_atletas_bra[df_atletas_bra["Season"] == "Winter"].index

df_atletas_bra.drop(index_name, inplace=True)

df_atletas_bra["Season"].value_counts()

C:\Users\Adelaide\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Summer    3784
Name: Season, dtype: int64

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

In [8]:
altura_media = df_medal_br["Height"].mean()

peso_medio = df_medal_br["Weight"].mean()
print(altura_media)
print(peso_medio)

182.4945295404814
76.7069351230425

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [9]:
df_medal_br.head(2)

media_esporte_medal = df_medal_br.groupby(by=["Sport"])[["Height", "Weight"]].mean()
media_esporte_medal.rename(columns={
    "Height": "Height Medal",
    "Weight": "Weight Medal"
}, inplace=True)
media_esporte_medal

                   Height Medal  Weight Medal
Sport
Athletics            181.000000     74.576923
Basketball           185.607843     78.478261
Beach Volleyball     184.880000     78.160000
Boxing               170.000000     64.000000
Canoeing             175.000000     83.250000
Equestrianism        179.666667     75.000000
Football             175.803030     69.961832
Gymnastics           162.750000     63.750000
Judo                 176.666667     86.285714
Modern Pentathlon    166.000000     55.000000
Sailing              181.588235     80.411765
Shooting             175.000000     69.000000
Swimming             189.105263     81.555556
Taekwondo            184.000000     79.500000
Volleyball           190.591667     81.166667

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [10]:
media_esporte_total = df_atletas_bra.groupby(by=["Sport"])[["Height", "Weight"]].mean()

media_esporte_total.rename(columns={
    "Height": "Height Total",
    "Weight": "Weight Total"
}, inplace=True)

media_esporte_total

                       Height Total  Weight Total
Sport
Archery                  172.600000     71.700000
Art Competitions                NaN           NaN
Athletics                176.203463     67.795045
Badminton                175.500000     74.000000
Basketball               190.911894     85.900474
Beach Volleyball         185.702128     78.617021
Boxing                   171.985075     64.106061
Canoeing                 177.791667     77.395833
Cycling                  174.235955     66.870588
Diving                   167.444444     64.970588
Equestrianism            177.429530     72.313869
Fencing                  179.196429     73.357143
Football                 173.369176     67.760456
Golf                     170.000000     62.000000
Gymnastics               157.268041     52.463918
Handball                 181.474453     80.773723
Hockey                   177.437500     76.125000
Judo                     173.925234     80.289720
Modern Pentathlon        168.600000     60.666667
Rhythmic Gymnastics      164.160000     48.160000
Rowing                   180.552083     80.090909
Rugby Sevens             171.240000     72.880000
Sailing                  179.677019     76.805195
Shooting                 174.035294     76.916667
Swimming                 181.176471     74.586634
Synchronized Swimming    168.461538     57.423077
Table Tennis             169.727273     64.181818
Taekwondo                173.769231     63.615385
Tennis                   183.900000     73.675000
Trampolining             168.000000     58.000000
Triathlon                175.800000     64.400000
Volleyball               187.762411     78.847518
Water Polo               179.888889     81.471698
Weightlifting            169.909091     85.640000
Wrestling                176.230769     83.153846

In [11]:
comparacao_br = pd.concat([media_esporte_medal, media_esporte_total], axis=1, join="inner")
comparacao_br.round()

                   Height Medal  Weight Medal  Height Total  Weight Total
Sport
Athletics                 181.0          75.0         176.0          68.0
Basketball                186.0          78.0         191.0          86.0
Beach Volleyball          185.0          78.0         186.0          79.0
Boxing                    170.0          64.0         172.0          64.0
Canoeing                  175.0          83.0         178.0          77.0
Equestrianism             180.0          75.0         177.0          72.0
Football                  176.0          70.0         173.0          68.0
Gymnastics                163.0          64.0         157.0          52.0
Judo                      177.0          86.0         174.0          80.0
Modern Pentathlon         166.0          55.0         169.0          61.0
Sailing                   182.0          80.0         180.0          77.0
Shooting                  175.0          69.0         174.0          77.0
Swimming                  189.0          82.0         181.0          75.0
Taekwondo                 184.0          80.0         174.0          64.0
Volleyball                191.0          81.0         188.0          79.0

In [12]:
comparacao_br["% Height"] = ((comparacao_br["Height Medal"] / comparacao_br["Height Total"]) - 1) * 100
comparacao_br["% Weight"] = ((comparacao_br["Weight Medal"] / comparacao_br["Weight Total"]) - 1) * 100
comparacao_br.round()

,Height Medal,Weight Medal,Height Total,Weight Total,% Height,% Weight
Sport,,,,,,
Athletics,181.0,75.0,176.0,68.0,3.0,10.0
Basketball,186.0,78.0,191.0,86.0,-3.0,-9.0
Beach Volleyball,185.0,78.0,186.0,79.0,-0.0,-1.0
Boxing,170.0,64.0,172.0,64.0,-1.0,-0.0
Canoeing,175.0,83.0,178.0,77.0,-2.0,8.0
Equestrianism,180.0,75.0,177.0,72.0,1.0,4.0
Football,176.0,70.0,173.0,68.0,1.0,3.0
Gymnastics,163.0,64.0,157.0,52.0,3.0,22.0
Judo,177.0,86.0,174.0,80.0,2.0,7.0
Modern Pentathlon,166.0,55.0,169.0,61.0,-2.0,-9.0
Sailing,182.0,80.0,180.0,77.0,1.0,5.0
Shooting,175.0,69.0,174.0,77.0,1.0,-10.0
Swimming,189.0,82.0,181.0,75.0,4.0,9.0
Taekwondo,184.0,80.0,174.0,64.0,6.0,25.0
Volleyball,191.0,81.0,188.0,79.0,2.0,3.0

* Consideramos como diferença significativa variações acima de 10%, e isso só ocorreu no Peso. Na altura, a maior variação foi no Taekwondo com os medalhistas 6% mais altos que o total de brasileiros participantes. E no Peso, no Atletismo, Ginástica e Taekwondo os medalhistas possuem variação de 10%, 22% e 25% mais pesados respectivamente e no Tiro, os medalhistas foram 10% mais leves.

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [13]:
df_heigth_average_sex_br = pd.pivot_table(data = df_atletas_bra, index='Sport', columns='Sex', values='Height', aggfunc = "mean")
df_heigth_average_sex_br.rename(columns={
    "F": "F Height",
    "M": "M Height"
}, inplace=True)
df_heigth_average_sex_br.round()

Sex                    F Height  M Height
Sport
Archery                   163.0     178.0
Athletics                 167.0     180.0
Badminton                 168.0     183.0
Basketball                183.0     195.0
Beach Volleyball          176.0     195.0
Boxing                    168.0     172.0
Canoeing                  170.0     179.0
Cycling                   164.0     176.0
Diving                    161.0     172.0
Equestrianism             169.0     178.0
Fencing                   172.0     181.0
Football                  167.0     177.0
Golf                      168.0     175.0
Gymnastics                151.0     169.0
Handball                  176.0     187.0
Hockey                      NaN     177.0
Judo                      167.0     177.0
Modern Pentathlon         166.0     170.0
Rhythmic Gymnastics       164.0       NaN
Rowing                    172.0     181.0
Rugby Sevens              166.0     177.0
Sailing                   170.0     182.0
Shooting                  166.0     176.0
Swimming                  169.0     185.0
Synchronized Swimming     168.0       NaN
Table Tennis              164.0     174.0
Taekwondo                 172.0     176.0
Tennis                    170.0     188.0
Trampolining                NaN     168.0
Triathlon                 166.0     184.0
Volleyball                181.0     192.0
Water Polo                173.0     181.0
Weightlifting             162.0     172.0
Wrestling                 169.0     182.0

In [14]:
df_weight_average_sex_br = pd.pivot_table(data = df_atletas_bra, index='Sport', columns='Sex', values='Weight', aggfunc = "mean")
df_weight_average_sex_br.rename(columns={
    "F": "F Weight",
    "M": "M Weight"
}, inplace=True)
df_weight_average_sex_br.round()

Sex                    F Weight  M Weight
Sport
Archery                    60.0      78.0
Athletics                  60.0      72.0
Badminton                  70.0      78.0
Basketball                 73.0      93.0
Beach Volleyball           65.0      92.0
Boxing                     65.0      64.0
Canoeing                   64.0      79.0
Cycling                    54.0      70.0
Diving                     59.0      70.0
Equestrianism              57.0      74.0
Fencing                    62.0      77.0
Football                   60.0      73.0
Golf                       56.0      75.0
Gymnastics                 45.0      65.0
Handball                   70.0      93.0
Hockey                      NaN      76.0
Judo                       66.0      87.0
Modern Pentathlon          54.0      73.0
Rhythmic Gymnastics        48.0       NaN
Rowing                     59.0      83.0
Rugby Sevens               63.0      84.0
Sailing                    62.0      80.0
Shooting                   62.0      81.0
Swimming                   59.0      80.0
Synchronized Swimming      57.0       NaN
Table Tennis               58.0      69.0
Taekwondo                  61.0      67.0
Tennis                     61.0      77.0
Trampolining                NaN      58.0
Triathlon                  54.0      73.0
Volleyball                 69.0      86.0
Water Polo                 68.0      86.0
Weightlifting              63.0      90.0
Wrestling                  67.0      97.0

In [15]:
df_athletes_comparacao_sex_br = pd.concat([df_heigth_average_sex_br, df_weight_average_sex_br], axis = 1, join =  "inner")
df_athletes_comparacao_sex_br["% Heigh"] =  ((df_athletes_comparacao_sex_br["F Height"]/ df_athletes_comparacao_sex_br["M Height"])-1)*100 
df_athletes_comparacao_sex_br["% Weight"] =  ((df_athletes_comparacao_sex_br["F Weight"]/ df_athletes_comparacao_sex_br["M Weight"])-1)*100
df_athletes_comparacao_sex_br.round()

Sex,F Height,M Height,F Weight,M Weight,% Heigh,% Weight
Sport,,,,,,
Archery,163.0,178.0,60.0,78.0,-8.0,-24.0
Athletics,167.0,180.0,60.0,72.0,-7.0,-16.0
Badminton,168.0,183.0,70.0,78.0,-8.0,-10.0
Basketball,183.0,195.0,73.0,93.0,-6.0,-21.0
Beach Volleyball,176.0,195.0,65.0,92.0,-9.0,-29.0
Boxing,168.0,172.0,65.0,64.0,-3.0,2.0
Canoeing,170.0,179.0,64.0,79.0,-5.0,-18.0
Cycling,164.0,176.0,54.0,70.0,-7.0,-24.0
Diving,161.0,172.0,59.0,70.0,-6.0,-15.0
Equestrianism,169.0,178.0,57.0,74.0,-5.0,-23.0
Fencing,172.0,181.0,62.0,77.0,-5.0,-20.0
Football,167.0,177.0,60.0,73.0,-6.0,-17.0
Golf,168.0,175.0,56.0,75.0,-4.0,-26.0
Gymnastics,151.0,169.0,45.0,65.0,-11.0,-31.0
Handball,176.0,187.0,70.0,93.0,-6.0,-25.0
Hockey,NaN,177.0,NaN,76.0,NaN,NaN
Judo,167.0,177.0,66.0,87.0,-6.0,-23.0
Modern Pentathlon,166.0,170.0,54.0,73.0,-2.0,-25.0
Rhythmic Gymnastics,164.0,NaN,48.0,NaN,NaN,NaN
Rowing,172.0,181.0,59.0,83.0,-5.0,-29.0
Rugby Sevens,166.0,177.0,63.0,84.0,-6.0,-25.0
Sailing,170.0,182.0,62.0,80.0,-6.0,-22.0
Shooting,166.0,176.0,62.0,81.0,-6.0,-24.0
Swimming,169.0,185.0,59.0,80.0,-8.0,-26.0
Synchronized Swimming,168.0,NaN,57.0,NaN,NaN,NaN
Table Tennis,164.0,174.0,58.0,69.0,-6.0,-15.0
Taekwondo,172.0,176.0,61.0,67.0,-2.0,-9.0
Tennis,170.0,188.0,61.0,77.0,-10.0,-21.0
Trampolining,NaN,168.0,NaN,58.0,NaN,NaN
Triathlon,166.0,184.0,54.0,73.0,-10.0,-27.0
Volleyball,181.0,192.0,69.0,86.0,-6.0,-20.0
Water Polo,173.0,181.0,68.0,86.0,-5.0,-20.0
Weightlifting,162.0,172.0,63.0,90.0,-6.0,-30.0
Wrestling,169.0,182.0,67.0,97.0,-7.0,-31.0

As mulheres são mais baixas e mais leves na média em comparação com os homens. No entanto, as variações de peso são bem mais expressivas, chegando a mais de 30% em alguns esportes.

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [16]:
df_medal_br.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

In [17]:
df_medal_br["Name"].value_counts()

Torben Schmidt Grael                         5
Robert Scheidt                               5
Srgio "Escadinha" Dutra dos Santos           4
Gustavo Frana Borges                         4
Emanuel Fernando Scheffler Rego              3
                                            ..
Antnio Carlos "Badalhoca" Gueiros Ribeiro    1
Marcus Laborne Mattioli                      1
Fernanda Porto Venturini                     1
Luan Guilherme de Jesus Vieira               1
Victor Mirshauswka                           1
Name: Name, Length: 360, dtype: int64

E o(s) maior(es) em quantidade de medalhas de ouro?

In [18]:
df_athletes_brazilian_gold = df_medal_br[(df_medal_br['Medal'] == 'Gold')]
df_athletes_brazilian_gold['Name'].value_counts()

Thasa Daher de Menezes                   2
Fabiana Marcelino Claudino               2
Paula Renata Marques Pequeno             2
Torben Schmidt Grael                     2
Adhemar Ferreira da Silva                2
                                        ..
Wallace Leandro de Souza                 1
Maurren Higa Maggi                       1
Gilberto Amauri "Giba" de Godoy Filho    1
Antnio Carlos "Carlo" Aguilar Gouveia    1
Welissa "Sass" de Souza Gonzaga          1
Name: Name, Length: 96, dtype: int64

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

In [19]:
df_atletas_por_evento = df_medal_br.drop_duplicates(subset=["Year", "Event"])
max_medalhas = df_atletas_por_evento["Sport"].value_counts()
max_medalhas

Judo                 22
Sailing              18
Athletics            16
Swimming             14
Volleyball           10
Beach Volleyball     10
Football              8
Basketball            5
Boxing                5
Shooting              4
Canoeing              3
Gymnastics            3
Equestrianism         3
Taekwondo             2
Modern Pentathlon     1
Name: Sport, dtype: int64

In [20]:
max_gold = df_atletas_por_evento[(df_atletas_por_evento['Medal'] == 'Gold')]
max_gold['Sport'].value_counts()

Sailing             7
Volleyball          5
Athletics           5
Judo                4
Beach Volleyball    2
Football            1
Swimming            1
Boxing              1
Equestrianism       1
Gymnastics          1
Shooting            1
Name: Sport, dtype: int64

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

In [21]:
df_atletas_por_evento.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

In [22]:
# ouro

max_gold_por_evento = df_atletas_por_evento[(df_atletas_por_evento['Medal'] == 'Gold')]
max_gold_por_evento['Event'].value_counts()

Volleyball Men's Volleyball                  3
Volleyball Women's Volleyball                2
Athletics Men's Triple Jump                  2
Beach Volleyball Men's Beach Volleyball      2
Sailing Mixed One Person Dinghy              2
Gymnastics Men's Rings                       1
Athletics Men's 800 metres                   1
Athletics Women's Long Jump                  1
Judo Women's Lightweight                     1
Sailing Mixed Two Person Dinghy              1
Football Men's Football                      1
Sailing Men's Two Person Keelboat            1
Swimming Men's 50 metres Freestyle           1
Boxing Men's Lightweight                     1
Sailing Women's Skiff                        1
Judo Men's Half-Lightweight                  1
Sailing Mixed Multihull                      1
Shooting Men's Military Pistol, 30 metres    1
Athletics Men's Pole Vault                   1
Judo Men's Half-Heavyweight                  1
Judo Women's Extra-Lightweight               1
Equestrianism Mixed Jumping, Individual      1
Sailing Mixed Two Person Keelboat            1
Name: Event, dtype: int64

In [23]:
# total de medalhas
df_atletas_por_evento["Event"].value_counts()

Athletics Men's Triple Jump                      6
Volleyball Men's Volleyball                      6
Football Men's Football                          6
Beach Volleyball Men's Beach Volleyball          5
Beach Volleyball Women's Beach Volleyball        5
                                                ..
Boxing Men's Middleweight                        1
Shooting Men's Free Pistol, 50 metres, Team      1
Athletics Men's Pole Vault                       1
Canoeing Men's Canadian Singles, 200 metres      1
Swimming Men's 4 x 100 metres Freestyle Relay    1
Name: Event, Length: 62, dtype: int64

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

In [24]:
df_atletas_por_evento["Medal"].value_counts()

Bronze    60
Silver    35
Gold      29
Name: Medal, dtype: int64

In [25]:
medals_year = df_atletas_por_evento.groupby(by = ['Medal'])['Year'].value_counts()
medals_year

Medal   Year
Bronze  1996    9
        2008    9
        2012    9
        2000    5
        2016    5
        1988    3
        2004    3
        1952    2
        1960    2
        1968    2
        1972    2
        1976    2
        1980    2
        1984    2
        1920    1
        1948    1
        1964    1
Gold    2016    7
        2004    5
        2008    3
        2012    3
        1980    2
        1992    2
        1996    2
        1920    1
        1952    1
        1956    1
        1984    1
        1988    1
Silver  2000    6
        2016    6
        1984    5
        2012    5
        1996    3
        2008    3
        1988    2
        2004    2
        1920    1
        1968    1
        1992    1
Name: Year, dtype: int64

In [26]:
quadro_medalhas = pd.DataFrame(medals_year)
quadro_medalhas.rename(columns={
    "Year": "Qtd"
}, inplace=True)
quadro_medalhas

             Qtd
Medal  Year
Bronze 1996    9
       2008    9
       2012    9
       2000    5
       2016    5
       1988    3
       2004    3
       1952    2
       1960    2
       1968    2
       1972    2
       1976    2
       1980    2
       1984    2
       1920    1
       1948    1
       1964    1
Gold   2016    7
       2004    5
       2008    3
       2012    3
       1980    2
       1992    2
       1996    2
       1920    1
       1952    1
       1956    1
       1984    1
       1988    1
Silver 2000    6
       2016    6
       1984    5
       2012    5
       1996    3
       2008    3
       1988    2
       2004    2
       1920    1
       1968    1
       1992    1

In [27]:
quadro_total = quadro_medalhas.reset_index()
quadro_total

     Medal  Year  Qtd
0   Bronze  1996    9
1   Bronze  2008    9
2   Bronze  2012    9
3   Bronze  2000    5
4   Bronze  2016    5
5   Bronze  1988    3
6   Bronze  2004    3
7   Bronze  1952    2
8   Bronze  1960    2
9   Bronze  1968    2
10  Bronze  1972    2
11  Bronze  1976    2
12  Bronze  1980    2
13  Bronze  1984    2
14  Bronze  1920    1
15  Bronze  1948    1
16  Bronze  1964    1
17    Gold  2016    7
18    Gold  2004    5
19    Gold  2008    3
20    Gold  2012    3
21    Gold  1980    2
22    Gold  1992    2
23    Gold  1996    2
24    Gold  1920    1
25    Gold  1952    1
26    Gold  1956    1
27    Gold  1984    1
28    Gold  1988    1
29  Silver  2000    6
30  Silver  2016    6
31  Silver  1984    5
32  Silver  2012    5
33  Silver  1996    3
34  Silver  2008    3
35  Silver  1988    2
36  Silver  2004    2
37  Silver  1920    1
38  Silver  1968    1
39  Silver  1992    1

In [28]:
quadro_medalhas_pivot = pd.pivot(data=quadro_total ,index="Year", columns="Medal", values="Qtd")
quadro_medalhas_pivot.fillna(0, inplace = True)
quadro_medalhas_pivot = quadro_medalhas_pivot[['Bronze', 'Silver', 'Gold']]
quadro_medalhas_pivot

Medal  Bronze  Silver  Gold
Year
1920      1.0     1.0   1.0
1948      1.0     0.0   0.0
1952      2.0     0.0   1.0
1956      0.0     0.0   1.0
1960      2.0     0.0   0.0
1964      1.0     0.0   0.0
1968      2.0     1.0   0.0
1972      2.0     0.0   0.0
1976      2.0     0.0   0.0
1980      2.0     0.0   2.0
1984      2.0     5.0   1.0
1988      3.0     2.0   1.0
1992      0.0     1.0   2.0
1996      9.0     3.0   2.0
2000      5.0     6.0   0.0
2004      3.0     2.0   5.0
2008      9.0     3.0   3.0
2012      9.0     5.0   3.0
2016      5.0     6.0   7.0

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

In [29]:
index_names_2 = df_atletas[df_atletas['Season'] == 'Winter' ].index
df_atletas.drop(index_names_2 , inplace=True)
df_atletas['Season'].value_counts()

Summer    222552
Name: Season, dtype: int64

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

In [30]:
df_atletas_esporte= df_atletas.drop_duplicates(subset = 'Sport')

lista_esportes = df_atletas_esporte['Sport'].values.tolist()
print(lista_esportes)

['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics', 'Swimming', 'Badminton', 'Sailing', 'Gymnastics', 'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling', 'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery', 'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball', 'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo', 'Cricket', 'Ice Hockey', 'Racquets', 'Motorboating', 'Croquet', 'Figure Skating', 'Jeu De Paume', 'Roque', 'Basque Pelota', 'Alpinism', 'Aeronautics']

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

In [31]:
df_atletas_evento = df_atletas.drop_duplicates(subset = 'Event')

lista_modalidade = df_atletas_evento['Event'].values.tolist()
print(lista_modalidade)

["Basketball Men's Basketball", "Judo Men's Extra-Lightweight", "Football Men's Football", "Tug-Of-War Men's Tug-Of-War", "Athletics Women's 100 metres", "Athletics Women's 4 x 100 metres Relay", "Swimming Men's 400 metres Freestyle", "Badminton Men's Singles", "Sailing Women's Windsurfer", "Swimming Men's 200 metres Breaststroke", "Swimming Men's 400 metres Breaststroke", "Gymnastics Men's Individual All-Around", "Gymnastics Men's Team All-Around", "Gymnastics Men's Floor Exercise", "Gymnastics Men's Horse Vault", "Gymnastics Men's Parallel Bars", "Gymnastics Men's Horizontal Bar", "Gymnastics Men's Rings", "Gymnastics Men's Pommelled Horse", "Athletics Men's Shot Put", 'Art Competitions Mixed Sculpturing, Unknown Event', "Handball Women's Handball", "Weightlifting Women's Super-Heavyweight", "Wrestling Men's Light-Heavyweight, Greco-Roman", "Gymnastics Men's Team All-Around, Free System", "Water Polo Men's Water Polo", 'Sailing Mixed Three Person Keelboat', "Hockey Women's Hockey", "Rowing Men's Lightweight Double Sculls", "Athletics Men's Pole Vault", "Athletics Men's High Jump", "Sailing Men's Two Person Dinghy", "Athletics Men's 1,500 metres", "Swimming Men's 100 metres Butterfly", "Swimming Men's 200 metres Butterfly", "Swimming Men's 4 x 100 metres Medley Relay", "Football Women's Football", "Fencing Men's Foil, Individual", "Fencing Men's epee, Individual", "Fencing Men's epee, Team", 'Sailing Mixed 8 metres', 'Equestrianism Mixed Jumping, Individual', "Shooting Men's Small-Bore Rifle, Prone, 50 metres", "Shooting Men's Rapid-Fire Pistol, 25 metres", "Shooting Men's Trap", "Athletics Men's 4 x 100 metres Relay", "Athletics Men's Long Jump", "Boxing Men's Light-Welterweight", "Athletics Women's Javelin Throw", "Wrestling Men's Heavyweight, Freestyle", "Taekwondo Men's Flyweight", "Boxing Men's Heavyweight", "Athletics Men's 5,000 metres", "Cycling Men's Road Race, Individual", "Cycling Men's Road Race, Team", "Weightlifting Men's Lightweight", "Weightlifting Men's Middleweight", "Rowing Men's Coxless Pairs", "Judo Men's Half-Middleweight", "Taekwondo Women's Flyweight", "Boxing Men's Flyweight", "Basketball Women's Basketball", "Diving Men's Platform", "Canoeing Men's Canadian Doubles, 500 metres", "Canoeing Men's Canadian Doubles, 1,000 metres", "Canoeing Men's Kayak Fours, 1,000 metres", "Handball Men's Handball", "Rowing Women's Coxless Pairs", "Boxing Men's Middleweight", "Judo Men's Lightweight", "Boxing Men's Featherweight", "Tennis Men's Doubles", 'Shooting Mixed Skeet', "Wrestling Men's Featherweight, Freestyle", 'Sailing Mixed Two Person Heavyweight Dinghy', "Athletics Women's Shot Put", "Rowing Men's Coxed Eights", "Cycling Women's Sprint", "Cycling Women's 500 metres Time Trial", "Athletics Men's 110 metres Hurdles", 'Shooting Mixed Trap', "Athletics Women's Marathon", "Athletics Men's 100 metres", "Fencing Men's Foil, Team", "Fencing Men's Sabre, Team", "Swimming Men's 100 metres Freestyle", "Swimming Men's 4 x 200 metres Freestyle Relay", "Boxing Men's Lightweight", "Modern Pentathlon Men's Individual", "Boxing Men's Welterweight", "Rowing Men's Quadruple Sculls", "Rowing Men's Double Sculls", "Rowing Men's Coxed Pairs", "Athletics Men's 400 metres Hurdles", "Athletics Men's 400 metres", "Athletics Men's Hammer Throw", "Weightlifting Men's Featherweight", "Athletics Men's 800 metres", "Hockey Men's Hockey", "Rowing Women's Single Sculls", "Swimming Men's 50 metres Freestyle", "Weightlifting Women's Featherweight", "Water Polo Women's Water Polo", "Weightlifting Men's Heavyweight", 'Equestrianism Mixed Three-Day Event, Individual', 'Equestrianism Mixed Three-Day Event, Team', "Sailing Women's Three Person Keelboat", "Cycling Women's Road Race, Individual", "Golf Women's Individual", "Softball Women's Softball", "Archery Women's Individual", "Wrestling Men's Heavyweight, Greco-Roman", "Volleyball Men's Volleyball", "Taekwondo Women's Heavyweight", "Synchronized Swimming Women's Duet", "Synchronized Swimming Women's Team", "Taekwondo Women's Featherweight", "Athletics Men's Marathon", "Athletics Men's 4 x 400 metres Relay", "Athletics Men's 10,000 metres", "Athletics Women's 3,000 metres", "Diving Women's Platform", "Shooting Men's Air Rifle, 10 metres", "Athletics Men's 200 metres", "Weightlifting Men's Flyweight", "Swimming Men's 100 metres Backstroke", "Weightlifting Men's Light-Heavyweight", "Wrestling Men's Lightweight, Greco-Roman", "Fencing Men's Sabre, Individual", "Wrestling Men's Super-Heavyweight, Greco-Roman", "Shooting Men's Free Pistol, 50 metres", "Shooting Men's Air Pistol, 10 metres", "Rowing Men's Coxless Fours", "Boxing Men's Light-Flyweight", "Boxing Men's Super-Heavyweight", "Wrestling Men's Flyweight, Greco-Roman", "Shooting Women's Air Rifle, 10 metres", "Weightlifting Men's Middle-Heavyweight", "Athletics Men's Javelin Throw", "Volleyball Women's Volleyball", "Wrestling Men's Welterweight, Greco-Roman", "Wrestling Men's Middleweight, Greco-Roman", "Athletics Men's 3,000 metres Steeplechase", "Wrestling Men's Middleweight, Freestyle", "Swimming Women's 100 metres Backstroke", "Swimming Women's 200 metres Backstroke", "Swimming Women's 4 x 100 metres Medley Relay", "Wrestling Men's Light-Heavyweight, Freestyle", "Modern Pentathlon Men's Team", "Boxing Men's Bantamweight", "Athletics Women's 200 metres", "Table Tennis Women's Singles", "Table Tennis Women's Doubles", "Shooting Men's Skeet", "Swimming Women's 50 metres Freestyle", "Shooting Men's Small-Bore Rifle, Three Positions, 50 metres", "Athletics Men's Triple Jump", "Weightlifting Women's Lightweight", "Athletics Women's Long Jump", "Fencing Women's epee, Individual", "Swimming Men's 200 metres Freestyle", "Swimming Men's 4 x 100 metres Freestyle Relay", "Swimming Men's 200 metres Backstroke", "Swimming Men's 200 metres Individual Medley", "Swimming Men's 400 metres Individual Medley", "Badminton Women's Singles", "Boxing Men's Light-Middleweight", "Tennis Men's Singles", "Wrestling Men's Bantamweight, Freestyle", "Wrestling Men's Flyweight, Freestyle", "Athletics Women's 5,000 metres", "Weightlifting Women's Light-Heavyweight", "Weightlifting Women's Heavyweight", "Athletics Men's Discus Throw", "Taekwondo Men's Featherweight", "Taekwondo Men's Welterweight", "Judo Men's Heavyweight", "Cycling Men's Sprint", "Wrestling Men's Lightweight, Freestyle", "Baseball Men's Baseball", "Rowing Men's Coxed Fours", "Cycling Men's 100 kilometres Team Time Trial", "Rhythmic Gymnastics Women's Group", 'Art Competitions Mixed Architecture, Designs For Town Planning', 'Art Competitions Mixed Architecture, Architectural Designs', "Gymnastics Women's Individual All-Around", "Gymnastics Women's Team All-Around", "Gymnastics Women's Floor Exercise", "Gymnastics Women's Horse Vault", "Gymnastics Women's Uneven Bars", "Gymnastics Women's Balance Beam", "Diving Women's Springboard", "Diving Women's Synchronized Springboard", "Athletics Women's 10,000 metres", 'Sailing Mixed 7 metres', "Judo Women's Half-Middleweight", "Athletics Men's Decathlon", "Wrestling Men's Middleweight A, Greco-Roman", "Athletics Women's Discus Throw", "Swimming Women's 4 x 100 metres Freestyle Relay", "Athletics Women's 1,500 metres", "Shooting Women's Air Pistol, 10 metres", "Shooting Women's Sporting Pistol, 25 metres", "Canoeing Men's Kayak Doubles, 500 metres", "Canoeing Men's Kayak Singles, 500 metres", "Canoeing Men's Kayak Singles, 1,000 metres", "Shooting Men's Running Target, 50 metres", "Judo Women's Half-Heavyweight", "Athletics Women's Pole Vault", "Rugby Sevens Women's Rugby Sevens", "Table Tennis Men's Team", "Rowing Women's Coxed Eights", "Athletics Women's 4 x 400 metres Relay", "Cycling Men's 1,000 metres Time Trial", "Cycling Men's Individual Pursuit, 4,000 metres", "Wrestling Men's Welterweight, Freestyle", "Wrestling Men's Bantamweight, Greco-Roman", "Rowing Women's Lightweight Double Sculls", "Athletics Women's 800 metres", "Rowing Women's Coxed Quadruple Sculls", "Rhythmic Gymnastics Women's Individual", "Canoeing Men's Kayak Singles, Slalom", "Archery Men's Individual", "Archery Men's Team", "Athletics Women's 400 metres", "Trampolining Men's Individual", "Beach Volleyball Men's Beach Volleyball", "Cycling Women's Mountainbike, Cross-Country", "Athletics Men's Javelin Throw, Both Hands", "Triathlon Women's Olympic Distance", "Gymnastics Women's Team Portable Apparatus", "Cycling Men's Mountainbike, Cross-Country", "Athletics Women's 400 metres Hurdles", "Diving Men's Springboard", "Wrestling Men's Featherweight, Greco-Roman", "Table Tennis Men's Singles", 'Art Competitions Mixed Painting', "Judo Men's Open Class", "Rowing Women's Quadruple Sculls", "Gymnastics Men's Team All-Around, Swedish System", "Athletics Women's Pentathlon", 'Art Competitions Mixed Painting, Unknown Event', "Cycling Men's Team Pursuit, 4,000 metres", "Weightlifting Women's Middleweight", "Swimming Men's 1,500 metres Freestyle", "Wrestling Women's Light-Heavyweight, Freestyle", "Swimming Women's 100 metres Freestyle", "Equestrianism Men's Jumping, Individual", "Equestrianism Men's Jumping, Team", "Equestrianism Men's Three-Day Event, Individual", "Equestrianism Men's Three-Day Event, Team", "Athletics Women's High Jump", "Canoeing Women's Kayak Fours, 500 metres", "Sailing Men's One Person Dinghy", "Trampolining Women's Individual", 'Art Competitions Mixed Literature', "Judo Men's Middleweight", "Judo Men's Half-Lightweight", "Fencing Women's Foil, Team", "Swimming Women's 200 metres Butterfly", "Swimming Women's 400 metres Individual Medley", "Golf Men's Individual", "Athletics Men's Standing High Jump", "Athletics Men's Standing Long Jump", "Athletics Men's 20 kilometres Walk", "Swimming Men's 220 yard Freestyle", "Swimming Men's 880 yard Freestyle", "Swimming Men's One Mile Freestyle", "Swimming Men's 4 x 50 Yard Freestyle Relay", "Swimming Men's Plunge For Distance", "Shooting Men's Free Rifle, Three Positions, 300 metres", "Shooting Men's Military Rifle, Three Positions, 300 metres", "Shooting Men's Military Rifle, Any Position, 600 metres", "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team", "Shooting Men's Military Rifle, Prone, 300 metres", "Judo Men's Half-Heavyweight", "Archery Women's Team", "Athletics Men's 50 kilometres Walk", "Rowing Women's Double Sculls", 'Sailing Mixed 6 metres', "Boxing Men's Light-Heavyweight", "Boxing Women's Flyweight", "Athletics Women's 100 metres Hurdles", "Athletics Men's Discus Throw, Greek Style", 'Sailing Mixed One Person Dinghy', "Wrestling Women's Heavyweight, Freestyle", 'Badminton Mixed Doubles', "Fencing Women's Foil, Individual", 'Sailing Mixed Two Person Keelboat', "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team", "Table Tennis Men's Doubles", "Wrestling Men's Light-Flyweight, Freestyle", "Wrestling Women's Featherweight, Freestyle", "Swimming Women's 200 metres Freestyle", "Swimming Women's 400 metres Freestyle", "Swimming Women's 200 metres Individual Medley", "Sailing Men's Windsurfer", "Shooting Men's Running Target, Single Shot", "Shooting Men's Running Target, Double Shot", "Rugby Sevens Men's Rugby Sevens", "Wrestling Women's Lightweight, Freestyle", "Modern Pentathlon Women's Individual", "Canoeing Men's Canadian Doubles, Slalom", "Judo Women's Half-Lightweight", "Diving Women's Plain High", "Equestrianism Men's Dressage, Individual", "Equestrianism Men's Dressage, Team", "Tennis Women's Singles, Covered Courts", "Diving Men's Plain High", 'Shooting Mixed Small-Bore Rifle, Three Positions, 50 metres', 'Shooting Mixed Small-Bore Rifle, Prone, 50 metres', "Swimming Women's 800 metres Freestyle", "Sailing Women's Two Person Dinghy", "Shooting Men's Free Pistol, 50 metres, Team", "Shooting Men's Free Rifle, Three Positions, 300 metres, Team", "Shooting Men's Military Rifle, Prone, 300 metres, Team", "Shooting Men's Military Rifle, Prone, 600 metres, Team", "Shooting Men's Military Rifle, Standing, 300 metres, Team", "Shooting Men's Free Rifle, Prone, 600 metres", "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team", "Rowing Men's Single Sculls", "Cycling Men's Tandem Sprint, 2,000 metres", "Athletics Women's Heptathlon", "Cycling Men's Points Race", "Synchronized Swimming Women's Solo", 'Equestrianism Mixed Dressage, Individual', 'Equestrianism Mixed Dressage, Team', "Swimming Men's 100 metres Breaststroke", 'Shooting Mixed Free Pistol, 50 metres', "Sailing Women's Skiff", "Canoeing Men's Kayak Doubles, 10,000 metres", "Triathlon Men's Olympic Distance", "Sailing Women's One Person Dinghy", "Rowing Men's 17-Man Naval Rowing Boats", "Beach Volleyball Women's Beach Volleyball", "Weightlifting Men's Super-Heavyweight", "Rowing Men's Lightweight Coxless Fours", "Wrestling Men's Light-Flyweight, Greco-Roman", "Canoeing Men's Canadian Singles, 1,000 metres", 'Sailing Mixed 5.5 metres', 'Equestrianism Mixed Jumping, Team', "Diving Men's Synchronized Platform", "Canoeing Women's Kayak Singles, Slalom", "Weightlifting Women's Flyweight", "Swimming Women's 100 metres Breaststroke", "Swimming Women's 200 metres Breaststroke", "Wrestling Men's Middleweight B, Greco-Roman", "Athletics Men's Stone Throw", "Athletics Men's Javelin Throw, Freestyle", "Athletics Men's Pentathlon (Ancient)", "Shooting Women's Small-Bore Rifle, Three Positions, 50 metres", "Swimming Women's 100 metres Butterfly", "Weightlifting Men's Heavyweight I", "Athletics Women's 3,000 metres Steeplechase", "Athletics Men's Shot Put, Both Hands", "Shooting Women's Trap", "Badminton Men's Doubles", "Swimming Women's 4 x 200 metres Freestyle Relay", "Athletics Men's 10 kilometres Walk", "Athletics Women's 20 kilometres Walk", "Athletics Women's 80 metres Hurdles", "Sailing Men's One Person Heavyweight Dinghy", 'Art Competitions Mixed Painting, Paintings', 'Tennis Mixed Doubles, Covered Courts', "Cycling Men's Madison", 'Art Competitions Mixed Sculpturing, Statues', "Rugby Men's Rugby", "Weightlifting Men's Heavyweight II", "Canoeing Women's Kayak Doubles, 500 metres", "Cycling Men's Individual Time Trial", "Judo Women's Heavyweight", "Canoeing Men's Kayak Doubles, 1,000 metres", "Gymnastics Men's Individual All-Around, 5 Events", "Wrestling Men's Super-Heavyweight, Freestyle", "Fencing Women's Sabre, Team", "Shooting Men's Double Trap", "Weightlifting Men's Bantamweight", "Taekwondo Men's Heavyweight", 'Sailing Mixed Windsurfer', "Taekwondo Women's Welterweight", 'Shooting Mixed Free Rifle, Three Positions, 300 metres', "Cycling Men's 50 kilometres", 'Shooting Mixed Rapid-Fire Pistol, 25 metres', "Cycling Men's 333 metres Time Trial", "Cycling Men's 20 kilometres", "Canoeing Men's Kayak Singles, 10,000 metres", 'Sailing Mixed Open', 'Sailing Mixed 1-2 Ton', "Canoeing Men's Canadian Singles, Slalom", 'Sailing Mixed Multihull', "Badminton Women's Doubles", "Diving Women's Synchronized Platform", "Athletics Women's Triple Jump", 'Art Competitions Mixed Painting, Drawings And Water Colors', "Shooting Men's Dueling Pistol, 30 metres", "Boxing Women's Lightweight", "Cycling Women's BMX", "Canoeing Men's Kayak Doubles, 200 metres", "Fencing Men's Sabre, Masters, Individual", "Lacrosse Men's Lacrosse", "Canoeing Women's Kayak Singles, 500 metres", "Athletics Women's 10 kilometres Walk", 'Sailing Mixed 12 metres', "Judo Women's Extra-Lightweight", "Diving Men's Synchronized Springboard", "Rowing Men's Coxed Fours, Outriggers", "Gymnastics Men's Rope Climbing", 'Sailing Mixed Two Person Dinghy', 'Art Competitions Mixed Architecture, Unknown Event', "Archery Men's Target Archery, 28 metres, Team", "Archery Men's Target Archery, 33 metres, Team", "Archery Men's Target Archery, 50 metres, Team", "Shooting Men's Running Target, 10 metres", "Polo Men's Polo", "Rowing Men's Coxed Fours, Inriggers", "Cycling Men's BMX", 'Art Competitions Mixed Sculpturing', "Athletics Men's Cross-Country, Individual", "Athletics Men's Cross-Country, Team", 'Sailing Mixed 40 metres', "Gymnastics Men's Club Swinging", "Tennis Women's Singles", 'Tennis Mixed Doubles', "Tennis Women's Doubles", "Judo Women's Middleweight", "Judo Women's Lightweight", "Canoeing Women's Kayak Singles, 200 metres", "Canoeing Men's Kayak Relay 4 x 500 metres", "Athletics Men's 3,000 metres, Team", "Shooting Men's Small-Bore Rifle, Prone, 50 and 100 yards", "Shooting Men's Small-Bore Rifle, 50 and 100 yards, Team", "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 yards", "Shooting Men's Small-Bore Rifle, Moving Target, 25 yards", "Shooting Men's Military Pistol, Team", "Rowing Women's Coxed Fours", "Weightlifting Men's Unlimited, One Hand", "Canoeing Men's Canadian Singles, 500 metres", "Fencing Men's Foil, Masters, Individual", "Fencing Men's epee, Masters, Individual", "Gymnastics Men's Individual All-Around, Field Sports", "Gymnastics Men's Individual All-Around, Apparatus Work", 'Art Competitions Mixed Music, Compositions For Solo Or Chorus', "Fencing Women's epee, Team", "Swimming Men's 4,000 metres Freestyle", "Swimming Men's Underwater Swimming", 'Sailing Mixed Skiff', "Shooting Men's Military Rifle, 200/500/600/800/900/1,000 Yards, Team", "Shooting Men's Running Target, Single And Double Shot", "Shooting Men's Small-Bore Rifle, Any Position, 50 metres", "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 metres", "Swimming Women's 10 kilometres Open Water", "Cycling Men's Team Pursuit, 1,980 yards", "Cycling Men's 5,000 metres", "Cycling Men's 100 kilometres", "Cricket Men's Cricket", "Canoeing Men's Canadian Singles, 10,000 metres", "Boxing Women's Middleweight", "Sailing Men's Skiff", "Athletics Men's Pentathlon", "Swimming Men's 1,200 metres Freestyle", "Shooting Women's Skeet", "Cycling Men's 1/4 mile", "Cycling Men's 1/2 mile", "Cycling Men's 5 mile", "Cycling Men's 25 mile", "Shooting Men's Small-Bore Rifle, Standing, 50 metres", "Shooting Men's Small Bore-Rifle, Standing, 50 metres, Team", "Shooting Men's Free Rifle, 1,000 Yards", "Cycling Women's Team Pursuit", "Athletics Men's 3,000 metres Walk", 'Shooting Mixed Running Target, 50 metres', "Cycling Women's Individual Time Trial", "Fencing Women's Sabre, Individual", "Fencing Men's Sabre, Individual, Three Hits", "Archery Women's Double National Round", "Cycling Men's Omnium", 'Equestrianism Mixed Hacks And Hunter Combined', 'Sailing Mixed 10 metres', "Shooting Men's Trap, Team", "Cycling Women's Individual Pursuit, 3,000 metres", "Cycling Women's Points Race", "Sailing Men's Two Person Keelboat", "Cycling Men's Keirin", "Cycling Men's Team Sprint", "Athletics Men's 5 mile", "Shooting Men's Running Target, Single Shot, Team", "Ice Hockey Men's Ice Hockey", "Racquets Men's Singles", "Racquets Men's Doubles", 'Art Competitions Mixed Literature, Lyric Works', 'Motorboating Mixed A-Class (Open)', "Archery Men's Continental Style", 'Art Competitions Mixed Painting, Graphic Arts', "Wrestling Women's Flyweight, Freestyle", 'Art Competitions Mixed Literature, Unknown Event', 'Sailing Mixed 0.5-1 Ton', 'Art Competitions Mixed Painting, Applied Arts', 'Croquet Mixed Singles, One Ball', 'Croquet Mixed Doubles', "Shooting Men's Running Target, Double Shot, Team", "Shooting Men's Free Pistol, 50 yards", "Shooting Men's Free Pistol, 50 yards, Team", "Fencing Men's epee, Masters and Amateurs, Individual", "Swimming Men's 10 kilometres Open Water", 'Art Competitions Mixed Music, Compositions For Orchestra', "Archery Men's Double York Round", "Wrestling Women's Middleweight, Freestyle", "Equestrianism Men's Vaulting, Individual", "Swimming Men's 4 x 250 metres Freestyle Relay", "Table Tennis Women's Team", "Athletics Women's Hammer Throw", "Canoeing Men's Kayak Singles, 200 metres", "Shooting Women's Double Trap", "Rowing Men's 6-Man Naval Rowing Boats", 'Art Competitions Mixed Music', "Shooting Men's Free Rifle, Kneeling, 300 metres", "Shooting Men's Free Rifle, Prone, 300 metres", "Shooting Men's Free Rifle, Standing, 300 metres", "Athletics Men's 3,200 metres Steeplechase", "Rowing Women's Coxless Fours", "Tennis M

Obtenha a lista de todos os países que já disputaram olimpíadas.

In [32]:
df_atletas_paises = df_atletas.drop_duplicates(subset = 'NOC')

lista_paises = df_atletas_paises['NOC'].values.tolist()
print(lista_paises)

['CHN', 'DEN', 'NED', 'FIN', 'NOR', 'ROU', 'EST', 'FRA', 'MAR', 'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD', 'RUS', 'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX', 'USA', 'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ', 'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA', 'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM', 'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR', 'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO', 'SUI', 'BRA', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'SRI', 'ARM', 'CIV', 'KEN', 'BEN', 'GBR', 'GHA', 'SOM', 'NIG', 'MLI', 'AFG', 'POL', 'CRC', 'PAN', 'GEO', 'SLO', 'GUY', 'NZL', 'POR', 'PAR', 'ANG', 'VEN', 'COL', 'FRG', 'BAN', 'PER', 'ESA', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'MRI', 'SEY', 'TCH', 'LUX', 'MTN', 'SKN', 'TTO', 'DOM', 'VIN', 'JAM', 'LBR', 'SUR', 'NEP', 'MGL', 'AUT', 'PLW', 'LTU', 'TOG', 'NAM', 'AHO', 'UKR', 'ISL', 'ASA', 'SAM', 'RWA', 'CRO', 'DMA', 'HAI', 'MLT', 'CYP', 'GUI', 'BIZ', 'YMD', 'THA', 'BER', 'ANZ', 'SCG', 'SLE', 'PNG', 'YEM', 'IOA', 'OMA', 'FIJ', 'VAN', 'MDA', 'BAH', 'GUA', 'YUG', 'LAT', 'SRB', 'IVB', 'MOZ', 'ISV', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM', 'CAY', 'SVK', 'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO', 'BOT', 'ROT', 'KOR', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CZE', 'CRT', 'GEQ', 'BOL', 'SAA', 'ANT', 'AND', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM', 'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'LIE', 'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO', 'BDI', 'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK', 'TUV', 'TGA', 'NFL', 'KOS', 'SSD', 'LES']

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

In [33]:
df_atletas_max_medalhas = df_atletas[df_atletas['Medal'].notna()]
df_atletas_max_medalhas['Name'].value_counts()

Michael Fred Phelps, II                      28
Larysa Semenivna Latynina (Diriy-)           18
Nikolay Yefimovich Andrianov                 15
Takashi Ono                                  13
Edoardo Mangiarotti                          13
                                             ..
Vladimir Konstantinovich Nemshilov            1
Terence Noel O'Brien                          1
Bartomiej Paweczak                            1
Jacques Flix Jean "Jean-Jacques" Guissart     1
Brandon Douglas Paulson                       1
Name: Name, Length: 24545, dtype: int64

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

In [34]:
df_atletas_ouro = df_atletas_max_medalhas[(df_atletas_max_medalhas['Medal'] == 'Gold')]
df_atletas_ouro['Name'].value_counts()

Michael Fred Phelps, II                23
Raymond Clarence "Ray" Ewry            10
Larysa Semenivna Latynina (Diriy-)      9
Mark Andrew Spitz                       9
Paavo Johannes Nurmi                    9
                                       ..
Marco Marin                             1
Jennifer Margaret "Jenny" Armstrong     1
Dwight D. Phillips                      1
Michelle Bonae Finn (-Burrell)          1
Ludwig Landen                           1
Name: Name, Length: 8981, dtype: int64

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

In [35]:
df_atletas_max_medalhas_evento = df_atletas_max_medalhas.drop_duplicates(subset = ['Year','Event'])
df_atletas_max_medalhas_evento_ouro = df_atletas_max_medalhas_evento [(df_atletas_max_medalhas_evento ['Medal'] == 'Gold')]
df_atletas_max_medalhas_evento_ouro['NOC'].value_counts()

USA    376
URS    124
FRA    100
ITA     90
GBR     90
      ...
TJK      1
UAE      1
SLO      1
MGL      1
ARM      1
Name: NOC, Length: 84, dtype: int64

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

In [36]:
df_atletas_max_medalhas_evento ['NOC'].value_counts()

USA    892
URS    318
GBR    315
FRA    311
GER    258
      ...
BOT      1
SEN      1
HAI      1
NIG      1
KGZ      1
Name: NOC, Length: 120, dtype: int64

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

In [37]:
df_medalhas_jogos= pd.DataFrame(df_atletas_max_medalhas_evento.groupby(by = ['Medal'])['Games'].value_counts())
df_medalhas_jogos.rename(columns = {'Games': 'Total Medals'}, inplace = True)
df_medalhas_jogos_2 = df_medalhas_jogos.reset_index()
df_medalhas_jogos_2

     Medal        Games  Total Medals
0   Bronze  2004 Summer           123
1   Bronze  2012 Summer           117
2   Bronze  2016 Summer           111
3   Bronze  2008 Summer           109
4   Bronze  2000 Summer           105
..     ...          ...           ...
82  Silver  1908 Summer            35
83  Silver  1912 Summer            32
84  Silver  1906 Summer            29
85  Silver  1900 Summer            23
86  Silver  1896 Summer            11

[87 rows x 3 columns]

In [38]:
df_medalhas_edicao = pd.pivot(data =df_medalhas_jogos_2, index = 'Games', columns = 'Medal', values = 'Total Medals')
#df_medalhas_jogos_novo['Total Medals'] =  df_medalhas_jogos_novo['Bronze'] + df_medalhas_jogos_novo['Gold'] + df_medalhas_jogos_novo['Silver']
df_medalhas_edicao = df_medalhas_edicao[['Bronze', 'Silver', 'Gold']]
df_medalhas_edicao['Total Medals'] = df_medalhas_edicao.sum(axis=1)
df_medalhas_edicao

Medal        Bronze  Silver  Gold  Total Medals
Games
1896 Summer       9      11    23            43
1900 Summer      24      23    42            89
1904 Summer      24      35    36            95
1906 Summer      26      29    19            74
1908 Summer      36      35    38           109
1912 Summer      34      32    41           107
1920 Summer      54      56    46           156
1924 Summer      50      41    39           130
1928 Summer      42      36    42           120
1932 Summer      37      45    44           126
1936 Summer      41      53    49           143
1948 Summer      48      42    58           148
1952 Summer      44      61    44           149
1956 Summer      51      43    57           151
1960 Summer      46      47    57           150
1964 Summer      56      52    55           163
1968 Summer      69      42    61           172
1972 Summer      71      65    57           193
1976 Summer      75      67    56           198
1980 Summer      73      74    56           203
1984 Summer      72      71    78           221
1988 Summer      73      81    83           237
1992 Summer      93      80    84           257
1996 Summer      94      94    83           271
2000 Summer     105      94   101           300
2004 Summer     123      90    88           301
2008 Summer     109      92   101           302
2012 Summer     117     101    84           302
2016 Summer     111      94   101           306

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

In [39]:
# considerando só os jogos de verão...

df_jogos_ouro = pd.DataFrame(df_atletas_max_medalhas_evento_ouro.groupby(by = ['Games'])['NOC'].value_counts())
df_jogos_ouro.rename(columns = {'NOC': 'Total Gold Medals'}, inplace = True)
df_jogos_ouro_2 = df_jogos_ouro.reset_index()
df_jogos_ouro_2
series_cumcount = df_jogos_ouro_2.groupby('Games').cumcount()
df_jogos_ouro_2['Posição'] = series_cumcount +1

df_jogos_ouro_2[df_jogos_ouro_2['NOC'] == 'BRA']

           Games  NOC  Total Gold Medals  Posição
157  1952 Summer  BRA                  1        8
177  1956 Summer  BRA                  1       10
281  1980 Summer  BRA                  1        9
334  1992 Summer  BRA                  2        8
430  2004 Summer  BRA                  1       20
499  2012 Summer  BRA                  1       15
524  2016 Summer  BRA                  3       10

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

In [40]:
df_atletas_ouro_todos = df_atletas_max_medalhas[(df_atletas_max_medalhas['Medal'] == 'Gold')]
df_atletas_ouro_todos[df_atletas_ouro_todos['NOC']== 'BRA']['Name'].value_counts()

Thasa Daher de Menezes                   2
Fabiana Marcelino Claudino               2
Paula Renata Marques Pequeno             2
Torben Schmidt Grael                     2
Adhemar Ferreira da Silva                2
                                        ..
Wallace Leandro de Souza                 1
Maurren Higa Maggi                       1
Gilberto Amauri "Giba" de Godoy Filho    1
Antnio Carlos "Carlo" Aguilar Gouveia    1
Welissa "Sass" de Souza Gonzaga          1
Name: Name, Length: 96, dtype: int64

In [41]:
df_atletas_ouro_todos['Name'].value_counts()

Michael Fred Phelps, II                23
Raymond Clarence "Ray" Ewry            10
Larysa Semenivna Latynina (Diriy-)      9
Mark Andrew Spitz                       9
Paavo Johannes Nurmi                    9
                                       ..
Marco Marin                             1
Jennifer Margaret "Jenny" Armstrong     1
Dwight D. Phillips                      1
Michelle Bonae Finn (-Burrell)          1
Ludwig Landen                           1
Name: Name, Length: 8981, dtype: int64

Maior medalhista de ouro do Brasil tem somente 2 medalhas e o mundial tem 23 medalhas.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

In [42]:
df_atletas_max_medalhas[df_atletas_max_medalhas['NOC']== 'BRA']['Name'].value_counts()

Torben Schmidt Grael                         5
Robert Scheidt                               5
Srgio "Escadinha" Dutra dos Santos           4
Gustavo Frana Borges                         4
Emanuel Fernando Scheffler Rego              3
                                            ..
Antnio Carlos "Badalhoca" Gueiros Ribeiro    1
Marcus Laborne Mattioli                      1
Fernanda Porto Venturini                     1
Luan Guilherme de Jesus Vieira               1
Victor Mirshauswka                           1
Name: Name, Length: 360, dtype: int64

In [43]:
df_atletas_max_medalhas['Name'].value_counts()

Michael Fred Phelps, II                      28
Larysa Semenivna Latynina (Diriy-)           18
Nikolay Yefimovich Andrianov                 15
Takashi Ono                                  13
Edoardo Mangiarotti                          13
                                             ..
Vladimir Konstantinovich Nemshilov            1
Terence Noel O'Brien                          1
Bartomiej Paweczak                            1
Jacques Flix Jean "Jean-Jacques" Guissart     1
Brandon Douglas Paulson                       1
Name: Name, Length: 24545, dtype: int64

Maior medalhista brasileiro tem 5 medalhas e o mundial tem 28.

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

In [44]:
df_atletas_ouro_todos[df_atletas_ouro_todos['NOC']== 'BRA'][['Name', 'Sport']].value_counts()

Name                              Sport
Fabiana "Fabi" Alvim de Oliveira  Volleyball    2
Torben Schmidt Grael              Sailing       2
Fabiana Marcelino Claudino        Volleyball    2
Giovane Farinazzo Gvio            Volleyball    2
Paula Renata Marques Pequeno      Volleyball    2
                                               ..
Gabriel Barbosa Almeida           Football      1
Fernanda Garay Rodrigues          Volleyball    1
Fernanda "Fernandinha" Ferreira   Volleyball    1
Felipe Anderson Perieira Gomes    Football      1
der Francis Carbonera             Volleyball    1
Length: 96, dtype: int64

In [45]:
df_atletas_ouro_todos[df_atletas_ouro_todos['Sport']== 'Sailing'][['Name', 'NOC', 'Sport']].value_counts()

Name                            NOC  Sport
Paul Bert Elvstrm               DEN  Sailing    4
Charles Benedict "Ben" Ainslie  GBR  Sailing    4
Valentyn Hryhorovych Mankin     URS  Sailing    3
Nicolas Hnard                   FRA  Sailing    2
Luis Doreste Blanco             ESP  Sailing    2
                                               ..
Gilbert T. Gray                 USA  Sailing    1
Gert Ingvar Severin Hansson     SWE  Sailing    1
Gerald Click "Gerry" Schreck    USA  Sailing    1
Georgios Zaimis                 GRE  Sailing    1
mile Sacr                       FRA  Sailing    1
Length: 405, dtype: int64

In [46]:
df_atletas_ouro_todos[df_atletas_ouro_todos['Sport']== 'Volleyball'][['Name', 'NOC','Sport']].value_counts()

Name                                                NOC  Sport
Alejandrina Mireya Luis Hernndez                    CUB  Volleyball    3
Marlenis Costa Blanco                               CUB  Volleyball    3
Regla Maritza Bell McKenzie                         CUB  Volleyball    3
Regla Radameris Torres Herrera                      CUB  Volleyball    3
Jaqueline Maria "Jaque" Pereira de Carvalho Endres  BRA  Volleyball    2
                                                                      ..
Lyudmila Nikolayevna Mikhaylovskaya (Makarova-)     URS  Volleyball    1
Lyudmila Vasilyevna Borozna (-Zhigily)              URS  Volleyball    1
Maksim Mikhaylovich Mikhaylov                       RUS  Volleyball    1
Marc Robert Waldie                                  USA  Volleyball    1
ula Meter                                           SCG  Volleyball    1
Length: 284, dtype: int64

Maiores medalhistas de ouro Brasileiros estão em 'Sailing' e 'Volleyball', com 2 medalhas em cada. Os maiores medalhistas do mundo nos mesmos esportes  possuem 4 e 3 medalhas respectivamente.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

In [47]:
df_atletas_max_medalhas[df_atletas_max_medalhas['NOC']== 'BRA'][['Name', 'Sport']].value_counts()

Name                                    Sport
Robert Scheidt                          Sailing       5
Torben Schmidt Grael                    Sailing       5
Gustavo Frana Borges                    Swimming      4
Srgio "Escadinha" Dutra dos Santos      Volleyball    4
Rodrigo "Rodrigo" Santana               Volleyball    3
                                                     ..
Helen Cristina Santos Luz               Basketball    1
Hamilton "Careca" de Souza              Football      1
Grazielle Pinheiro Guimares Nascimento  Football      1
Givanildo "Hulk" Vieira de Souza        Football      1
rika Kelly "Kiki" Pereira Coimbra       Volleyball    1
Length: 360, dtype: int64

In [48]:
df_atletas_max_medalhas[df_atletas_max_medalhas['Sport']== 'Sailing'][['Name', 'NOC', 'Sport']].value_counts()

Name                                NOC  Sport
Torben Schmidt Grael                BRA  Sailing    5
Robert Scheidt                      BRA  Sailing    5
Charles Benedict "Ben" Ainslie      GBR  Sailing    5
Alessandra Sensini                  ITA  Sailing    4
Carlos Mauricio Espnola Lorenzo     ARG  Sailing    4
                                                   ..
Hans Carl Johan Walln               SWE  Sailing    1
Hans Christopher "Chris" Steinfeld  USA  Sailing    1
Hans Erik Dittmar                   FIN  Sailing    1
Hans Henrik Stoermann-Nss           NOR  Sailing    1
mile Sacr                           FRA  Sailing    1
Length: 1024, dtype: int64

Maior medalhista Brasileiro em total de medalhas é em 'Sailing' e do mundo também tem a mesma quantidade de 5 medalhas.

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.

In [49]:
quadro_medalhas_pivot_2 = quadro_medalhas_pivot
quadro_medalhas_pivot_2['Total Medals'] = quadro_medalhas_pivot_2.sum(axis = 1)

In [50]:
quadro_medalhas_pivot_2['% Bronze'] = (quadro_medalhas_pivot_2['Bronze']/ quadro_medalhas_pivot_2['Total Medals']) *100
quadro_medalhas_pivot_2['% Silver'] = (quadro_medalhas_pivot_2['Silver']/ quadro_medalhas_pivot_2['Total Medals']) *100
quadro_medalhas_pivot_2['% Gold'] = (quadro_medalhas_pivot_2['Gold']/ quadro_medalhas_pivot_2['Total Medals']) *100

In [51]:
quadro_medalhas_pivot_2.round()

Medal  Bronze  Silver  Gold  Total Medals  % Bronze  % Silver  % Gold
Year
1920      1.0     1.0   1.0           3.0      33.0      33.0    33.0
1948      1.0     0.0   0.0           1.0     100.0       0.0     0.0
1952      2.0     0.0   1.0           3.0      67.0       0.0    33.0
1956      0.0     0.0   1.0           1.0       0.0       0.0   100.0
1960      2.0     0.0   0.0           2.0     100.0       0.0     0.0
1964      1.0     0.0   0.0           1.0     100.0       0.0     0.0
1968      2.0     1.0   0.0           3.0      67.0      33.0     0.0
1972      2.0     0.0   0.0           2.0     100.0       0.0     0.0
1976      2.0     0.0   0.0           2.0     100.0       0.0     0.0
1980      2.0     0.0   2.0           4.0      50.0       0.0    50.0
1984      2.0     5.0   1.0           8.0      25.0      62.0    12.0
1988      3.0     2.0   1.0           6.0      50.0      33.0    17.0
1992      0.0     1.0   2.0           3.0       0.0      33.0    67.0
1996      9.0     3.0   2.0          14.0      64.0      21.0    14.0
2000      5.0     6.0   0.0          11.0      45.0      55.0     0.0
2004      3.0     2.0   5.0          10.0      30.0      20.0    50.0
2008      9.0     3.0   3.0          15.0      60.0      20.0    20.0
2012      9.0     5.0   3.0          17.0      53.0      29.0    18.0
2016      5.0     6.0   7.0          18.0      28.0      33.0    39.0