# História das Olimpíadas  
_(créditos ao prof. Rafael Moreira)_

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_atletas = pd.read_csv("./dados/athlete_events.csv")
df_atletas.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df_atletas_bra = df_atletas[df_atletas["NOC"] == "BRA"]
df_atletas_bra.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,386,Alexandre Abeid,M,22.0,194.0,92.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,386,Alexandre Abeid,M,26.0,194.0,92.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [5]:
df_atletas_medal = df_atletas_bra[df_atletas_bra["Medal"].notna()]
df_atletas_medal.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

In [6]:
df_atletas_medal["Season"].value_counts()

Summer    475
Name: Season, dtype: int64

In [7]:
df_atletas_bra[df_atletas_bra["Season"] == "Winter"]["Medal"].sum()

0

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [18]:
index_name = df_atletas_bra[df_atletas_bra["Season"] == "Winter"].index

df_atletas_bra.drop(index_name, inplace=True)

df_atletas_bra["Season"].value_counts()

Summer    3784
Name: Season, dtype: int64

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [22]:
altura_media = df_atletas_medal["Height"].mean()

peso_medio = df_atletas_medal["Weight"].mean()
print(altura_media)
print(peso_medio)

182.4945295404814
76.7069351230425

In [37]:
df_atletas_medal.head(2)

media_esporte_medal = df_atletas_medal.groupby(by=["Sport"])[["Height", "Weight"]].mean()
media_esporte_medal.rename(columns={
    "Height": "Height Medal",
    "Weight": "Weight Medal"
}, inplace=True)
media_esporte_medal

                   Height Medal  Weight Medal
Sport
Athletics            181.000000     74.576923
Basketball           185.607843     78.478261
Beach Volleyball     184.880000     78.160000
Boxing               170.000000     64.000000
Canoeing             175.000000     83.250000
Equestrianism        179.666667     75.000000
Football             175.803030     69.961832
Gymnastics           162.750000     63.750000
Judo                 176.666667     86.285714
Modern Pentathlon    166.000000     55.000000
Sailing              181.588235     80.411765
Shooting             175.000000     69.000000
Swimming             189.105263     81.555556
Taekwondo            184.000000     79.500000
Volleyball           190.591667     81.166667

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [39]:
media_esporte_total = df_atletas_bra.groupby(by=["Sport"])[["Height", "Weight"]].mean()

media_esporte_total.rename(columns={
    "Height": "Height Total",
    "Weight": "Weight Total"
}, inplace=True)

media_esporte_total

                       Height Total  Weight Total
Sport
Archery                  172.600000     71.700000
Art Competitions                NaN           NaN
Athletics                176.203463     67.795045
Badminton                175.500000     74.000000
Basketball               190.911894     85.900474
Beach Volleyball         185.702128     78.617021
Boxing                   171.985075     64.106061
Canoeing                 177.791667     77.395833
Cycling                  174.235955     66.870588
Diving                   167.444444     64.970588
Equestrianism            177.429530     72.313869
Fencing                  179.196429     73.357143
Football                 173.369176     67.760456
Golf                     170.000000     62.000000
Gymnastics               157.268041     52.463918
Handball                 181.474453     80.773723
Hockey                   177.437500     76.125000
Judo                     173.925234     80.289720
Modern Pentathlon        168.600000     60.666667
Rhythmic Gymnastics      164.160000     48.160000
Rowing                   180.552083     80.090909
Rugby Sevens             171.240000     72.880000
Sailing                  179.677019     76.805195
Shooting                 174.035294     76.916667
Swimming                 181.176471     74.586634
Synchronized Swimming    168.461538     57.423077
Table Tennis             169.727273     64.181818
Taekwondo                173.769231     63.615385
Tennis                   183.900000     73.675000
Trampolining             168.000000     58.000000
Triathlon                175.800000     64.400000
Volleyball               187.762411     78.847518
Water Polo               179.888889     81.471698
Weightlifting            169.909091     85.640000
Wrestling                176.230769     83.153846

In [41]:
comparacao = pd.concat([media_esporte_medal, media_esporte_total], axis=1, join="inner")
comparacao.round()

                   Height Medal  Weight Medal  Height Total  Weight Total
Sport
Athletics                 181.0          75.0         176.0          68.0
Basketball                186.0          78.0         191.0          86.0
Beach Volleyball          185.0          78.0         186.0          79.0
Boxing                    170.0          64.0         172.0          64.0
Canoeing                  175.0          83.0         178.0          77.0
Equestrianism             180.0          75.0         177.0          72.0
Football                  176.0          70.0         173.0          68.0
Gymnastics                163.0          64.0         157.0          52.0
Judo                      177.0          86.0         174.0          80.0
Modern Pentathlon         166.0          55.0         169.0          61.0
Sailing                   182.0          80.0         180.0          77.0
Shooting                  175.0          69.0         174.0          77.0
Swimming                  189.0          82.0         181.0          75.0
Taekwondo                 184.0          80.0         174.0          64.0
Volleyball                191.0          81.0         188.0          79.0

In [48]:
comparacao["% Height"] = ((comparacao["Height Medal"] / comparacao["Height Total"]) - 1) * 100
comparacao["% Weight"] = ((comparacao["Weight Medal"] / comparacao["Weight Total"]) - 1) * 100
comparacao.round()

,Height Medal,Weight Medal,Height Total,Weight Total,% Height,% Weight
Sport,,,,,,
Athletics,181.0,75.0,176.0,68.0,3.0,10.0
Basketball,186.0,78.0,191.0,86.0,-3.0,-9.0
Beach Volleyball,185.0,78.0,186.0,79.0,-0.0,-1.0
Boxing,170.0,64.0,172.0,64.0,-1.0,-0.0
Canoeing,175.0,83.0,178.0,77.0,-2.0,8.0
Equestrianism,180.0,75.0,177.0,72.0,1.0,4.0
Football,176.0,70.0,173.0,68.0,1.0,3.0
Gymnastics,163.0,64.0,157.0,52.0,3.0,22.0
Judo,177.0,86.0,174.0,80.0,2.0,7.0
Modern Pentathlon,166.0,55.0,169.0,61.0,-2.0,-9.0
Sailing,182.0,80.0,180.0,77.0,1.0,5.0
Shooting,175.0,69.0,174.0,77.0,1.0,-10.0
Swimming,189.0,82.0,181.0,75.0,4.0,9.0
Taekwondo,184.0,80.0,174.0,64.0,6.0,25.0
Volleyball,191.0,81.0,188.0,79.0,2.0,3.0

* Consideramos como diferença significativa variações acima de 10%, e isso só ocorreu no Peso. Na altura, a maior variação foi no Taekwondo com os medalhistas 6% mais altos que o total de brasileiros participantes. E no Peso, no Atletismo, Ginástica e Taekwondo os medalhistas possuem variação de 10%, 22% e 25% mais pesados respectivamente e no Tiro, os medalhistas foram 10% mais leves.

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [64]:
df_heigth_average_sex = pd.pivot_table(data = df_atletas_bra, index='Sport', columns='Sex', values='Height', aggfunc = "mean")
df_heigth_average_sex.rename(columns={
    "F": "F Height",
    "M": "M Height"
}, inplace=True)
df_heigth_average_sex.round()

Sex                    F Height  M Height
Sport
Archery                   163.0     178.0
Athletics                 167.0     180.0
Badminton                 168.0     183.0
Basketball                183.0     195.0
Beach Volleyball          176.0     195.0
Boxing                    168.0     172.0
Canoeing                  170.0     179.0
Cycling                   164.0     176.0
Diving                    161.0     172.0
Equestrianism             169.0     178.0
Fencing                   172.0     181.0
Football                  167.0     177.0
Golf                      168.0     175.0
Gymnastics                151.0     169.0
Handball                  176.0     187.0
Hockey                      NaN     177.0
Judo                      167.0     177.0
Modern Pentathlon         166.0     170.0
Rhythmic Gymnastics       164.0       NaN
Rowing                    172.0     181.0
Rugby Sevens              166.0     177.0
Sailing                   170.0     182.0
Shooting                  166.0     176.0
Swimming                  169.0     185.0
Synchronized Swimming     168.0       NaN
Table Tennis              164.0     174.0
Taekwondo                 172.0     176.0
Tennis                    170.0     188.0
Trampolining                NaN     168.0
Triathlon                 166.0     184.0
Volleyball                181.0     192.0
Water Polo                173.0     181.0
Weightlifting             162.0     172.0
Wrestling                 169.0     182.0

In [67]:
df_weight_average_sex = pd.pivot_table(data = df_atletas_bra, index='Sport', columns='Sex', values='Weight', aggfunc = "mean")
df_weight_average_sex.rename(columns={
    "F": "F Weight",
    "M": "M Weight"
}, inplace=True)
df_weight_average_sex.round()

Sex                    F Weight  M Weight
Sport
Archery                    60.0      78.0
Athletics                  60.0      72.0
Badminton                  70.0      78.0
Basketball                 73.0      93.0
Beach Volleyball           65.0      92.0
Boxing                     65.0      64.0
Canoeing                   64.0      79.0
Cycling                    54.0      70.0
Diving                     59.0      70.0
Equestrianism              57.0      74.0
Fencing                    62.0      77.0
Football                   60.0      73.0
Golf                       56.0      75.0
Gymnastics                 45.0      65.0
Handball                   70.0      93.0
Hockey                      NaN      76.0
Judo                       66.0      87.0
Modern Pentathlon          54.0      73.0
Rhythmic Gymnastics        48.0       NaN
Rowing                     59.0      83.0
Rugby Sevens               63.0      84.0
Sailing                    62.0      80.0
Shooting                   62.0      81.0
Swimming                   59.0      80.0
Synchronized Swimming      57.0       NaN
Table Tennis               58.0      69.0
Taekwondo                  61.0      67.0
Tennis                     61.0      77.0
Trampolining                NaN      58.0
Triathlon                  54.0      73.0
Volleyball                 69.0      86.0
Water Polo                 68.0      86.0
Weightlifting              63.0      90.0
Wrestling                  67.0      97.0

In [69]:
df_athletes_comparacao_sex = pd.concat([df_heigth_average_sex, df_weight_average_sex], axis = 1, join =  "inner")
df_athletes_comparacao_sex["% Heigh"] =  ((df_athletes_comparacao_sex["F Height"]/ df_athletes_comparacao_sex["M Height"])-1)*100 
df_athletes_comparacao_sex["% Weight"] =  ((df_athletes_comparacao_sex["F Weight"]/ df_athletes_comparacao_sex["M Weight"])-1)*100
df_athletes_comparacao_sex.round()

Sex,F Height,M Height,F Weight,M Weight,% Heigh,% Weight
Sport,,,,,,
Archery,163.0,178.0,60.0,78.0,-8.0,-24.0
Athletics,167.0,180.0,60.0,72.0,-7.0,-16.0
Badminton,168.0,183.0,70.0,78.0,-8.0,-10.0
Basketball,183.0,195.0,73.0,93.0,-6.0,-21.0
Beach Volleyball,176.0,195.0,65.0,92.0,-9.0,-29.0
Boxing,168.0,172.0,65.0,64.0,-3.0,2.0
Canoeing,170.0,179.0,64.0,79.0,-5.0,-18.0
Cycling,164.0,176.0,54.0,70.0,-7.0,-24.0
Diving,161.0,172.0,59.0,70.0,-6.0,-15.0
Equestrianism,169.0,178.0,57.0,74.0,-5.0,-23.0
Fencing,172.0,181.0,62.0,77.0,-5.0,-20.0
Football,167.0,177.0,60.0,73.0,-6.0,-17.0
Golf,168.0,175.0,56.0,75.0,-4.0,-26.0
Gymnastics,151.0,169.0,45.0,65.0,-11.0,-31.0
Handball,176.0,187.0,70.0,93.0,-6.0,-25.0
Hockey,NaN,177.0,NaN,76.0,NaN,NaN
Judo,167.0,177.0,66.0,87.0,-6.0,-23.0
Modern Pentathlon,166.0,170.0,54.0,73.0,-2.0,-25.0
Rhythmic Gymnastics,164.0,NaN,48.0,NaN,NaN,NaN
Rowing,172.0,181.0,59.0,83.0,-5.0,-29.0
Rugby Sevens,166.0,177.0,63.0,84.0,-6.0,-25.0
Sailing,170.0,182.0,62.0,80.0,-6.0,-22.0
Shooting,166.0,176.0,62.0,81.0,-6.0,-24.0
Swimming,169.0,185.0,59.0,80.0,-8.0,-26.0
Synchronized Swimming,168.0,NaN,57.0,NaN,NaN,NaN
Table Tennis,164.0,174.0,58.0,69.0,-6.0,-15.0
Taekwondo,172.0,176.0,61.0,67.0,-2.0,-9.0
Tennis,170.0,188.0,61.0,77.0,-10.0,-21.0
Trampolining,NaN,168.0,NaN,58.0,NaN,NaN
Triathlon,166.0,184.0,54.0,73.0,-10.0,-27.0
Volleyball,181.0,192.0,69.0,86.0,-6.0,-20.0
Water Polo,173.0,181.0,68.0,86.0,-5.0,-20.0
Weightlifting,162.0,172.0,63.0,90.0,-6.0,-30.0
Wrestling,169.0,182.0,67.0,97.0,-7.0,-31.0

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [75]:
df_atletas_medal.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

In [74]:
df_atletas_medal["Name"].value_counts()
df_atletas_medal["Name"].value_counts()

Torben Schmidt Grael                  5
Robert Scheidt                        5
Srgio "Escadinha" Dutra dos Santos    4
Gustavo Frana Borges                  4
Ricardo Alex Costa Santos             3
                                     ..
Gilmar Lus Rinaldi                    1
Geovani Faria da Silva                1
Alexandre Gemignani Ferreira          1
Fernanda Garay Rodrigues              1
Jos Carlos Cracco Neto                1
Name: Name, Length: 360, dtype: int64

E o(s) maior(es) em quantidade de medalhas de ouro?

In [90]:
df_athletes_brazilian_gold = df_atletas_medal[(df_atletas_medal['Medal'] == 'Gold')]
df_athletes_brazilian_gold['Name'].value_counts()

Marcelo Bastos Ferreira                  2
Thasa Daher de Menezes                   2
Robert Scheidt                           2
Giovane Farinazzo Gvio                   2
Sheilla Tavares de Castro Blassioli      2
                                        ..
Martine Soffiatti Grael                  1
Gilberto Amauri "Giba" de Godoy Filho    1
Fernanda Garay Rodrigues                 1
Gabriel Fernando de Jesus                1
Jos Carlos Cracco Neto                   1
Name: Name, Length: 96, dtype: int64

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

In [108]:
df_atletas_por_evento = df_atletas_medal.drop_duplicates(subset=["Year", "Event"])
max_medalhas = df_atletas_por_evento["Sport"].value_counts()
max_medalhas

Judo                 22
Sailing              18
Athletics            16
Swimming             14
Volleyball           10
Beach Volleyball     10
Football              8
Basketball            5
Boxing                5
Shooting              4
Equestrianism         3
Gymnastics            3
Canoeing              3
Taekwondo             2
Modern Pentathlon     1
Name: Sport, dtype: int64

In [110]:
max_gold = df_atletas_por_evento[(df_atletas_por_evento['Medal'] == 'Gold')]
max_gold['Sport'].value_counts()

Sailing             7
Volleyball          5
Athletics           5
Judo                4
Beach Volleyball    2
Swimming            1
Boxing              1
Football            1
Shooting            1
Equestrianism       1
Gymnastics          1
Name: Sport, dtype: int64

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

In [111]:
df_atletas_por_evento.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver

In [113]:
# ouro

max_gold_por_evento = df_atletas_por_evento[(df_atletas_por_evento['Medal'] == 'Gold')]
max_gold_por_evento['Event'].value_counts()

Volleyball Men's Volleyball                  3
Volleyball Women's Volleyball                2
Sailing Mixed One Person Dinghy              2
Athletics Men's Triple Jump                  2
Beach Volleyball Men's Beach Volleyball      2
Sailing Women's Skiff                        1
Judo Women's Lightweight                     1
Equestrianism Mixed Jumping, Individual      1
Sailing Mixed Two Person Dinghy              1
Shooting Men's Military Pistol, 30 metres    1
Judo Men's Half-Heavyweight                  1
Judo Women's Extra-Lightweight               1
Athletics Women's Long Jump                  1
Sailing Mixed Two Person Keelboat            1
Sailing Men's Two Person Keelboat            1
Football Men's Football                      1
Athletics Men's 800 metres                   1
Boxing Men's Lightweight                     1
Swimming Men's 50 metres Freestyle           1
Judo Men's Half-Lightweight                  1
Athletics Men's Pole Vault                   1
Sailing Mixed Multihull                      1
Gymnastics Men's Rings                       1
Name: Event, dtype: int64

In [112]:
# total de medalhas
df_atletas_por_evento["Event"].value_counts()

Football Men's Football                        6
Athletics Men's Triple Jump                    6
Volleyball Men's Volleyball                    6
Beach Volleyball Men's Beach Volleyball        5
Beach Volleyball Women's Beach Volleyball      5
                                              ..
Shooting Men's Free Pistol, 50 metres, Team    1
Boxing Men's Middleweight                      1
Sailing Women's Skiff                          1
Gymnastics Men's Floor Exercise                1
Boxing Women's Lightweight                     1
Name: Event, Length: 62, dtype: int64

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

In [115]:
df_atletas_medal["Medal"].value_counts()

Bronze    191
Silver    175
Gold      109
Name: Medal, dtype: int64

In [127]:
medals_year = df_atletas_medal.groupby(by = ['Medal'])['Year'].value_counts()
medals_year

Medal   Year
Bronze  1996    43
        2000    36
        2008    30
        1960    13
        1964    12
        2012    11
        1948    10
        2016     6
        1920     5
        1980     5
        1988     5
        1968     3
        1976     3
        2004     3
        1952     2
        1972     2
        1984     2
Gold    2016    36
        2004    18
        2008    14
        2012    14
        1992    13
        1996     5
        1980     4
        1920     1
        1952     1
        1956     1
        1984     1
        1988     1
Silver  2008    34
        2012    34
        1984    33
        2004    19
        1988    17
        1996    15
        2000    12
        2016     8
        1920     1
        1968     1
        1992     1
Name: Year, dtype: int64

In [131]:
quadro_medalhas = pd.DataFrame(medals_year)
quadro_medalhas.rename(columns={
    "Year": "Qtd"
}, inplace=True)
quadro_medalhas

             Qtd
Medal  Year
Bronze 1996   43
       2000   36
       2008   30
       1960   13
       1964   12
       2012   11
       1948   10
       2016    6
       1920    5
       1980    5
       1988    5
       1968    3
       1976    3
       2004    3
       1952    2
       1972    2
       1984    2
Gold   2016   36
       2004   18
       2008   14
       2012   14
       1992   13
       1996    5
       1980    4
       1920    1
       1952    1
       1956    1
       1984    1
       1988    1
Silver 2008   34
       2012   34
       1984   33
       2004   19
       1988   17
       1996   15
       2000   12
       2016    8
       1920    1
       1968    1
       1992    1

In [138]:
quadro_total = quadro_medalhas.reset_index()
quadro_total

     Medal  Year  Qtd
0   Bronze  1996   43
1   Bronze  2000   36
2   Bronze  2008   30
3   Bronze  1960   13
4   Bronze  1964   12
5   Bronze  2012   11
6   Bronze  1948   10
7   Bronze  2016    6
8   Bronze  1920    5
9   Bronze  1980    5
10  Bronze  1988    5
11  Bronze  1968    3
12  Bronze  1976    3
13  Bronze  2004    3
14  Bronze  1952    2
15  Bronze  1972    2
16  Bronze  1984    2
17    Gold  2016   36
18    Gold  2004   18
19    Gold  2008   14
20    Gold  2012   14
21    Gold  1992   13
22    Gold  1996    5
23    Gold  1980    4
24    Gold  1920    1
25    Gold  1952    1
26    Gold  1956    1
27    Gold  1984    1
28    Gold  1988    1
29  Silver  2008   34
30  Silver  2012   34
31  Silver  1984   33
32  Silver  2004   19
33  Silver  1988   17
34  Silver  1996   15
35  Silver  2000   12
36  Silver  2016    8
37  Silver  1920    1
38  Silver  1968    1
39  Silver  1992    1

In [140]:
quadro_medalhas_pivot = pd.pivot(data=quadro_total ,index="Year", columns="Medal", values="Qtd")
quadro_medalhas_pivot.fillna(0)

Medal  Bronze  Gold  Silver
Year
1920      5.0   1.0     1.0
1948     10.0   0.0     0.0
1952      2.0   1.0     0.0
1956      0.0   1.0     0.0
1960     13.0   0.0     0.0
1964     12.0   0.0     0.0
1968      3.0   0.0     1.0
1972      2.0   0.0     0.0
1976      3.0   0.0     0.0
1980      5.0   4.0     0.0
1984      2.0   1.0    33.0
1988      5.0   1.0    17.0
1992      0.0  13.0     1.0
1996     43.0   5.0    15.0
2000     36.0   0.0    12.0
2004      3.0  18.0    19.0
2008     30.0  14.0    34.0
2012     11.0  14.0    34.0
2016      6.0  36.0     8.0

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

Obtenha a lista de todos os países que já disputaram olimpíadas.

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

## 3. Brasil vs Mundo

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.